/* Para el formulario de pedir cita */

#datoCita { margin-top: 3.45%; }

#formCita { margin-top: 5%; }

#panelCita { margin-top: 3.67%; }

/* Para el historial de las citas */

#historialCitas { margin-top: 2.36%; }

#send { margin-left: 3.26%; }

#realizada { background-color: #D6D6D6; }

#txtRealizada {
	background-color: #D6D6D6;
	color: #D6D6D6;
	border-radius: 25%;
	font-size: 20px;
}

#nombreMascota {
	margin-top: 2.1%;
	margin-bottom: -2%;
}

#idCita { margin-left: 85%; }

#txtPendiente {
	border-radius: 60%;
	font-size: 30px;
}


/* Para el historial de las mascotas */
#checkCita {
	-ms-transform: scale(1.65);
  	-moz-transform: scale(1.65);
  	-webkit-transform: scale(1.65);
  	-o-transform: scale(1.65);
  	padding: 18px;
}


/* Para el mensaje de la vista de citas posteriores */
#fechaCita { 
	margin-top: 1.09%;
	margin-bottom: -1.45%;
}
