/* Para el formulario de pedir cita */

#datoCita { margin-top: 3.45%; }

#formCita { margin-top: 5%; }

#panelCita { margin-top: 3.67%; }

/* Para el historial de las citas */

#historialCitas { margin-top: 2.36%; }

#send { margin-left: 3.26%; }