* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#error {
  position: relative;
  height: 100vh;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background-image: url("/images/500_image.png");
  background-repeat: no-repeat;
}

.error {
  max-width: 80%;
  width: 100%;
  line-height: 1.4;
  padding: 80px 40px 16px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.error .error-500 {
  position: relative;
  height: 670px;
  width: 920px;
}

.error .error-500 h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 6.25em;
  top: 61%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 165px;
  font-weight: 700;
  color: #262626;
  text-transform: uppercase;
}

.error .error-500 h1>span {
  color: #50CA3F;
}

.error h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #151515;
  margin-left: 28em;
  margin-top: -3.3%;
  margin-bottom: 1px;
}

@media only screen and (max-width: 80%) {
  .error h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 80%) {
  .error .error-500 h1 {
    font-size: 141px;
  }
}
