* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {	
  padding: 0;
  margin-left: 12.2%;
  margin-top: 3.5%;
}

#error {	
  position: absolute;
  height: 90vh;
  width: 160vh;
  background-image: url("/images/404_image.png");
  background-repeat: no-repeat;
  margin-top: 0.5%;
  border-radius: 6%;
}

#error #back {
	margin-top: 21%;
}

#error .error {
  position: relative;
  left: 34%;
  top: 64.1%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.error .error-404 {
  position: relative;
  height: 240px;
  margin-top: -4%;
}

.error .error-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 29%;
  top: 150%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.error .error-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.error h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-top: 44%;
  margin-left: -10em;
  margin-bottom: 25px;
}

.error .error-404 h1 #green {
	color: #50CA3F;
}

@media only screen and (max-width: 520px) {
  .error .error-404 {
    height: 200px;
  }
  .error .error-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 520px) {
  .error .error-404 {
    height: 162px;
  }
  .error .error-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .error h2 {
    font-size: 16px;
  }
}
