/* Para los listados de usuarios */

#perfil_body { margin-top: 7.5em; }

h3 {padding-top: 2.3%;}

#tablaClientes { margin-top: 1%; }

#tablaVeterinarios { margin-top: 1%; }


/* Para el perfil del usuario */

form {
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 0.56%;
}

h4 {padding-top: 1%;}

label { padding-top: 0.65%; }


#datoCliente { margin-top: 2.89%; }


.card-footer {
	margin-bottom: 2%;
}

#dato_usuario { visibility: hidden; }


/* Para formularios de cliente y veterinario */

#formUsuario { margin-top: 3%; }

#panelCliente { margin-top: 3.67%; }

#panelVeterinario { margin-top: 3.67%; }


/* Para los datos a mostrar de cliente y/o veterinario */

#datoUsuario {
	font-size: 15px;
	margin-top: 1.25%;
}

#btnInformePDF { background-color: darkslateblue; }