
#logo {
	width: 48px;
	height: 48px;
	border-radius: 3.75px;
	margin-left: -100%;
}

#background {
	width: 1980px;
	height: 800px;
	background-image: url("/images/gestionVeterinaria.png");
  	background-repeat: no-repeat;
}

/* Footer */

footer {
	padding-top: 1%;
	padding-bottom: 0.5%;
	margin-left: 6.3%;
}

#copy { margin-left: 3%; }